<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eBaySearchApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <eBaySearchApplication.Properties.Settings>
            <setting name="SoundFile" serializeAs="String">
                <value>x.wav</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="IntervalMinutes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadThumbs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconFlashOnNew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PulseOnSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewedColour" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="NewItemsColour" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="ExcludeSellersFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludeKeywordsFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="GlobalID" serializeAs="String">
                <value>GB</value>
            </setting>
        </eBaySearchApplication.Properties.Settings>
    </userSettings>
</configuration>